.header{
    position: fixed;
    width: 100%;
    background-color: #fff;
   .travel__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .nav{
        .travel__title{
            font-family: 'Poppins', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-size: 33.18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            width: 148px;
            height: 40px;
            cursor: pointer;
        }
    }
    .travel__list{
        display: flex;
        justify-content: space-between;
        list-style: none;
        .travel__item{
            margin-left: 25px;
            width: 88px;
            height: 49px;
            padding-top: 15px;
            text-align: center;
            align-items: center;
        }
        .travel__link{
            text-decoration: none;
            color: #3D3E48;
            font-family: 'Poppins', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 180%;
            &:hover{
                color: #43B97F;
                font-family: 'Poppins', sans-serif;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 700;
                line-height: 180%;;
            }
        }

    }
    .travel__span{
        display: flex;
        justify-content: space-between;
        .travel__span__img{
            margin-right: 2px;
        }
        .travel__span__b{
            margin-right: 2px;
        }
        .travel__select{
            border: none;
        }
    }

   }
}